<!DOCTYPE html>
<html>
<head>
    <title>Avahi v2.2</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
<style>

  body {
      font-family: 'Arial', sans-serif;
  }


</style>
</head>
<body>

    <div class="container my-5">
        <div class="p-3 mb-4 text-bg-secondary rounded-3 text-center">
		<h1 class="mb-0">Devices in Local Network</h1>
	</div>


        <script>
            function save_comment(event, input) {
                event.preventDefault();
                const dev_name = input.getAttribute('name');
                const comment = input.value;

                let all = {};
                all["dev_name"] = dev_name;
                all["comment"] = comment;

                fetch(`/set-comment`, {
                    method: "POST",
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(all)
                }).then(res => {
                    console.log("Save comment response:", res);
                });
            }
        </script>

        <script>
            const eventSource = new EventSource('/stream');

            eventSource.addEventListener('new_message', event => {
              var dataList = document.getElementById('data-list');
              dataList.innerHTML = ""
              console.log(event.data)
            const devices = JSON.parse(event.data);
            console.log(devices)
            var i = 1
            devices.forEach(device => {
                const row = document.createElement('tr')
                row.innerHTML += `<th scope="row"> ${i}</th>
                                <td>${device.os}</td>
                                <td>${device.os_version}</td>
                                <td>${device.name}</td>
                                <td>${device.ip}</td>
                                <td>${device.ping}</td>
                                <td>
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        name="new_name.${device.name}" 
                                        value="${device.comment}"
                                        onkeydown="if (event.key === 'Enter') save_comment(event, this)">
                                </td>`;
                dataList.appendChild(row)
                i++
            });
          });
        </script>

        <form>
            <div class="table-responsive card rounded-3 ">
                <table class="table table-bordered table-hover rounded-3 border overflow-hidden ">
                    <thead class="table-secondary">
                        <tr>
                            <th>#</th>
                            <th>OS Image</th>
                            <th>OS Version</th>
                            <th>Device Name</th>
                            <th>IP Address</th>
                            <th>Ping</th>
                            <th>Add Comment</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider" id="data-list">

                    </tbody>
                </table>
            </div>
        </form>
        <footer class="mt-5 pt-3 border-top text-center">
            <p class="mb-0">© 2024 Avahi</p>
            <p class="mt-2">
                <a href="/api" class="text-decoration-none">API</a> |
                <a href="/matrix" class="text-decoration-none">Matrix Theme</a> |
                <a href="/docs" class="text-decoration-none">OpenAPI</a>
            </p>
        </footer>
    </div>

</body>
</html>
